Source: cpp-hocon
Maintainer: Isabel Amaro <iamaro@nvxltech.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: cpp-hocon
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cpp-hocon package 
 .
